@import 'common';

#btnStatus {
    width: 100%;
    a {
        text-align: center;
        display: block;
        padding: 5px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00FF00;
        color: white;
        font-size: 24px;
        border-radius: 5px;
        text-decoration: none;
    }
}

.record-img {
    visibility: hidden;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 785px) {
    #btnStatus a { margin-left: 0px; margin-right: 0px; }
}